<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/VoHongHoa/Admin" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Đăng nhập để liên hệ với chúng tôi</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Đăng ký
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Đồ án Internet và Công nghệ Web - IE104.M12 - Website thời trang
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Hệ thống cửa hàng</h5>

          <ul class="list-unstyled mb-0" style="line-height: 40px;">
            <li>
              <a href="#!" class="text-white">242 Thái Hà, Q.Đống Đa, HN</a>
            </li>
            <li>
              <a href="#!" class="text-white">11 Dương Quảng Hàm, Q.Cầu Giấy, HN</a>
            </li>
            <li>
              <a href="#!" class="text-white">27 Chùa Bộc, Q.Đống Đa, HN</a>
            </li>
            <li>
              <a href="#!" class="text-white">37 Trung Kính, Q.Cầu Giấy, HN</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Chính sách và quy định</h5>

          <ul class="list-unstyled mb-0 " style="line-height: 40px;">
            <li>
              <a href="#!" class="text-white">Hướng Dẫn Mua Hàng</a>
            </li>
            <li>
              <a href="#!" class="text-white">Hình Thức Thanh Toán</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính Sách Bảo Hành</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính Sách Vận Chuyển</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Địa chỉ</h5>

          <ul class="list-unstyled mb-0" style="line-height: 40px;">
            <li>
              <a href="#!" class="text-white">CÔNG TY CỔ PHẦN THỜI TRANG 360</a>
            </li>
            <li>
              <a href="#!" class="text-white">Facebook kids: 360Kids</a>
            </li>
            <li>
              <a href="#!" class="text-white">Điện thoại: 0973 285 886</a>
            </li>
            <li>
              <a href="#!" class="text-white">Email: web@360boutique.vn</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Fanpage</h5>
                <iframe src="https://www.youtube.com/embed/3OihNcEcr8Q" frameborder="1" 
                                height="200px">
                </iframe>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">Nhóm 11</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->