<div class="card">
    <div class="card">
        <div class="card-header">
           Thêm mới một chi tiết hóa đơn
        </div>
        <div class="card-body">

            <form method="post" action="">
                <div class="mb-3">
                    <label for="id_hd" class="form-label">ID của hóa đơn</label>
                    <input type="number" class="form-control" id="id_hd" name="id_hd" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="id_sp" class="form-label">ID của sản phẩm</label>
                    <input type="number" class="form-control" id="id_sp" name="id_sp"> 
                </div>
                <div class="mb-3">
                    <label for="so_luong" class="form-label">Số lượng</label>
                    <input type="number" class="form-control" id="so_luong" name="so_luong"> 
                </div>
                <div class="mb-3">
                    <a name="" id="" class="btn btn-success" href="/admin/cthd" role="button">
                         <i class="fas fa-backward"></i>
                    </a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>

        <div class="card-footer text-muted">
            Thêm vào databse 1 chi tiết hóa đơn mới coppy right
        </div>
    </div>
</div>

