<div class="card">
    <div class="card">
        <div class="card-header">
          Chỉnh sửa thông tin của chi tiết hóa đơn
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="id_hd" class="form-label">ID cua hóa đơn</label>
                    <input type="number" class="form-control" id="id_hd" name="id_hd" readonly value="{{this.cthd.id_hd}}"> 
                </div>

                <div class="mb-3">
                    <label for="id_sp" class="form-label">ID của sản phẩm</label>
                    <input type="number" class="form-control" id="id_sp" name="id_sp" readonly value="{{this.cthd.id_sp}}"> 
                </div>
                <div class="mb-3">
                    <label for="so_luong" class="form-label">Số lượng</label>
                    <input type="number" class="form-control" id="so_luong" name="so_luong" autofocus value="{{this.cthd.so_luong}}"> 
                </div>
                
               
                <div class="mb-3">
                    <a name="" id="" class="btn btn-success" href="/admin/cthd" role="button"> <i class="fas fa-backward"></i></a>
                    <button type="submit" class="btn btn-danger" formaction="/admin/cthd/del"> <i class="fas fa-trash"></i></button>
                    <button type="submit" class="btn btn-primary" formaction="/admin/cthd/update">Update</button>
                </div>  
            </form>

        <div class="card-footer text-muted">
            Chỉnh sửa hoặc xóa thông tin của chi tiết hóa đơn
        </div>
    </div>
</div>

