<div class="card">
    <div class="card">
        <div class="card-header">
           Loại sản phẩm mới
        </div>
        <div class="card-body">

            <form method="post" action="">
                <div class="mb-3">
                    <label for="ten_loai_sp" class="form-label">Ten cua loai san pham</label>
                    <input type="text" class="form-control" id="ten_loai_sp" name="ten_loai_sp" autofocus> 
                </div>
                <div class="mb-3">
                    <a name="" id="" class="btn btn-success" href="/admin/loai_sp" role="button">
                <i class="fas fa-backward"></i>
                </a>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>

        <div class="card-footer text-muted">
            Thêm vào databse 1 loại sản phẩm mới coppy right
        </div>
    </div>
</div>

