<div class="card">
    <div class="card">
        <div class="card-header">
           Loại sản phẩm mới
        </div>
        <div class="card-body">

            <form method="post" action="">
                <div class="mb-3">
                    <label for="ten_kh" class="form-label">Ten cua khách hàng</label>
                    <input type="text" class="form-control" id="ten_kh" name="ten_kh" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="so_dt_kh" class="form-label">Số điện thoại khách hàng</label>
                    <input type="text" class="form-control" id="so_dt_kh" name="so_dt_kh" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">PassWord</label>
                    <input type="password" class="form-control" id="pass" name="pass" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="dia_chi_kh" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" id="dia_chi_kh" name="dia_chi_kh" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="dia_chi_kh" class="form-label">Quyền</label>
                    <input type="number" class="form-control" id="dia_chi_kh" name="dia_chi_kh" autofocus> 
                </div>
                <div class="mb-3">
                    <a name="" id="" class="btn btn-success" href="/admin/khach_hang" role="button">
                <i class="fas fa-backward"></i>
                </a>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>

        <div class="card-footer text-muted">
            Thêm vào databse 1 khách hàng mới coppy right
        </div>
    </div>
</div>

