<div class="card">
    <div class="card">
        <div class="card-header">
           Thêm mới một hóa đơn
        </div>
        <div class="card-body">

            <form method="post" action="">
                <div class="mb-3">
                    <label for="id_kh" class="form-label">ID cua khách hàng</label>
                    <input type="number" class="form-control" id="id_kh" name="id_kh" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="trang_thai_hd" class="form-label">Trạng thái của hóa đơn</label>
                    <input type="number" class="form-control" id="trang_thai_hd" name="trang_thai_hd" autofocus> 
                </div>
                <div class="mb-3">
                    <label for="ngay_hd" class="form-label"Ngày lập hóa đơn</label>
                    <input type="date" class="form-control" id="ngay_hd" name="ngay_hd" autofocus> 
                </div>
                <div class="mb-3">
                    <a name="" id="" class="btn btn-success" href="/admin/hoa_don" role="button">
                         <i class="fas fa-backward"></i>
                    </a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>

        <div class="card-footer text-muted">
            Thêm vào databse 1 hóa đơn mới coppy right
        </div>
    </div>
</div>

