<div class="card">
    <div class="card">
        <div class="card-header">
          Chỉnh sửa thông tin của hóa đơn
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="id_hd" class="form-label">ID cua hóa đơn</label>
                    <input type="text" class="form-control" id="id_hd" name="id_hd" readonly value="{{this.hoadon.id_hd}}"> 
                </div>

                <div class="mb-3">
                    <label for="id_kh" class="form-label">ID cua khách hàng</label>
                    <input type="text" class="form-control" id="id_kh" name="id_kh" readonly value="{{this.hoadon.id_kh}}"> 
                </div>
                <div class="mb-3">
                    <label for="trang_thai_hd" class="form-label">Trạng thái của hóa đơn</label>
                    <input type="text" class="form-control" id="trang_thai_hd" name="trang_thai_hd" autofocus value="{{this.hoadon.trang_thai_hd}}"> 
                </div>
                
               
                <div class="mb-3">
                    <a name="" id="" class="btn btn-success" href="/admin/hoa_don" role="button"> <i class="fas fa-backward"></i></a>
                    <button type="submit" class="btn btn-danger" formaction="/admin/hoa_don/del"> <i class="fas fa-trash"></i></button>
                    <button type="submit" class="btn btn-primary" formaction="/admin/hoa_don/update">Update</button>
                </div>  
            </form>

        <div class="card-footer text-muted">
            Chỉnh sửa hoặc xóa thông tin của hóa đơn
        </div>
    </div>
</div>

