
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <a style="margin-right: 4px;" href="/web">Trang Chủ / </a>
                    <p>Thương Hiệu Về Thời Trang H4T</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="list-new" style="border: 2px solid black;">
                        <div>
                            <p style="font-size:25px; border-bottom: 2px solid black;text-align:center;">
                                BÀI VIẾT MỚI NHẤT</p>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/1.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_1">
                                    <p>Những tips giúp áo len của các bạn nam auto đẹp & bền</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/2.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web_tin_tuc_2">
                                    <p>Bật mí 3 cách mặc áo sơ mi họa tiết cực ngầu mà không bị “sến”</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/3.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_3">
                                    <p>3 KIỂU BIẾN TẤU ĐỘC ĐÁO VỚI SƠ MI CỘC TAY CỔ TÀU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                   <div class="info-shop">
                    <h3>Hệ thống cửa hàng</h3>
                    <h2>Hệ thống cửa hàng thời trang nam</h2>
                    <h2>Hà Nội:</h2>
                    <p>• 20 Dương Quảng Hàm, Quận Cầu Giấy, Hà Nội <br>
                        Hotline: 000000000 <br>
                        
                        • 242 Thái Hà, Quận Đống Đa, Hà Nội <br>
                        Hotline: 000000000 <br>
                    </p>
                    <h2>TP. Hồ Chí Minh:</h2>
                    <p>UIT</p>
                   </div>
                </div>
            </div>
        </div>
    </main>
