
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <a href="/web">Trang Chủ / </a>
                    <a href="/web/tin_tuc">Tin tức </a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="list-new" style="border: 2px solid black;">
                        <div>
                            <p style="width:280px; font-size:25px; border-bottom: 2px solid black;text-align:center;">
                                BÀI VIẾT MỚI NHẤT</p>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/1.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_1">
                                    <p>Những tips giúp áo len của các bạn nam auto đẹp & bền</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/2.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_2">
                                    <p>Bật mí 3 cách mặc áo sơ mi họa tiết cực ngầu mà không bị “sến”</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/3.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_3">
                                    <p>3 KIỂU BIẾN TẤU ĐỘC ĐÁO VỚI SƠ MI CỘC TAY CỔ TÀU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="about-shop">
                        <h2>Bật mí 3 cách mặc áo sơ mi họa tiết cực ngầu mà không bị “sến”</h2>
                        <h3>PHỐI ĐỒ CÙNG SƠ MI HỌA TIẾT.</h3>
                        <img src="/images/news/news-2/1.jpg" alt="">
                        <p>Áo sơ mi đi biển luôn được gắn mác “kén người mặc”, tuy nhiên, khi được kết hợp với những
                            Item phù hợp, thì chắc chắn phong thái của các chàng trai sẽ tăng lên gấp 10 lần. Một chút
                            tinh tế trong việc lựa chọn trang phục sẽ giúp bạn ghi điểm trong mắt mọi người. Hãy thử Mix
                            những áo sơ mi hình đi biển với 1 chiếc quần Jeans màu trắng, hoặc màu đen đơn giản, hay
                            năng động hơn với quần short. Bật mí cho bạn là có thể lấy một màu họa tiết trên áo để làm
                            màu quần. Một điều cần lưu ý là: “Hãy nói không với quần lòe loẹt” bởi trông tổng thể sẽ rất
                            rối mắt.</p>
                        <h3>ÁO SƠ Mi HỌA TIẾT MIX CÙNG MỘT CHIẾC ÁO THUN HOẶC TANKTOP</h3>
                        <img style="width:100%" src="/images/news/news-2/2.jpg" alt="">
                        <p>Việc kết hợp áo sơ mi nam đi biển với một chiếc áo thun hoặc ba lỗ trơn sẽ làm bật lên cá
                            tính của bạn. Cách phối đồ này chưa bao giờ là lỗi mốt, đặc biệt khi đi biển, bạn có thể đội
                            thêm một chiếc mũ cói thì đảm bảo sẽ có nhiều cô gái sẽ đuổi theo xin số đó.</p>
                        <h3>ĐÚNG ĐỒ ĐÚNG NGƯỜI ĐÚNG THỜI ĐIỂM KHI MẶC ÁO SƠ MI HỌA TIẾT</h3>
                        <img src="/images/news/news-2/3.jpg" alt="">
                        <p>Một chiếc áo sơ mi hình họa tiết được coi như biểu tượng của mùa hè, đây chắc chắn là “người
                            bạn” đồng hành cùng bạn trong những chuyến đi du lịch, đi chơi. Với những bạn có dáng người
                            gầy, những chiếc áo có họa tiết to và màu sắc sẽ giúp bạn hoàn toàn nổi bật. Còn những bạn
                            có thân hình tròn trịa, có thể chọn họa tiết nhỏ với tông màu trầm sẽ giúp bạn che đi những
                            khuyết điểm cơ thể. Hãy đến shop thời trang nam 360 để sắm những chiếc áo này nhé.</p>
                        <strong>YG – Be yourself</strong>
                    </div>
                </div>
            </div>
        </div>
    </main>
