
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12" id="back">
                    <a href="/web">Trang Chủ / </a>
                    <p>Thương Hiệu Về Thời Trang YG</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="list-new" style="border: 2px solid black;">
                        <div>
                            <p style="width:280px; font-size:25px; border-bottom: 2px solid black;text-align:center;">
                                BÀI VIẾT MỚI NHẤT</p>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/1.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_1">
                                    <p>Những tips giúp áo len của các bạn nam auto đẹp & bền</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/2.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_2">
                                    <p>Bật mí 3 cách mặc áo sơ mi họa tiết cực ngầu mà không bị “sến”</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/3.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_3">
                                    <p>3 KIỂU BIẾN TẤU ĐỘC ĐÁO VỚI SƠ MI CỘC TAY CỔ TÀU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="about-shop">
                        <h2>Những tips giúp áo len của các bạn nam auto đẹp & bền</h2>
                        <h3>KHÔNG PHƠI ÁO LEN NAM DƯỚI NẮNG</h3>
                        <img src="/images/news/news-1/1.jpg" alt="">
                        <p>Vốn chất liệu có độ dày lớn nên nhiều khi các bạn chỉ mong rằng có nắng thật to là phơi ngay
                            em dày xụ trực tiếp dưới nắng rồi. Xoá ngay cách thức này nha và hãy mắc áo vào móc chiều
                            kiểu gập đôi áo lại,
                            chọn khu vực có gió tốt để phơi. Tránh ảnh hưởng tới việc bạc màu, và nếu nắng quá to sẽ làm
                            sợi len bị bai, cứng khiến mất đi độ mềm mại vốn có của áo.</p>
                        <h3>LÀM SẠCH THEO VÙNG CỦA <strong style="color:red">ÁO LEN</strong></h3>
                        <img style="width:100%" src="/images/news/news-1/2.jpg" alt="">
                        <p>Thay vì giặt cả món đồ len thường xuyên, bạn nên làm sạch một số vùng dễ bị bẩn như cổ áo,
                            nách, khuỷu tay để giãn thời gian giữa những lần giặt và tăng tuổi thọ của len. Một miếng
                            vải cotton mềm nhúng nước hoặc dung dịch làm sạch chuyên dụng sẽ là lý tưởng nhất. Bạn không
                            nên vò mạnh phần len bị bẩn vì nó có thể làm vải bị xù lông và lem nhem hơn.</p>
                        <strong>YG – Be yourself</strong>
                    </div>
                </div>
            </div>
        </div>
    </main>
