
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <a style="margin-right: 4px;" href="/web">Trang Chủ / </a>
                    <p>Thương Hiệu Về Thời Trang H4T</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="list-new mb-4" style="border: 2px solid black;">
                        <div>
                            <p style="font-size:25px; border-bottom: 2px solid black;text-align:center;">
                                BÀI VIẾT MỚI NHẤT</p>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/1.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_1">
                                    <p>Những tips giúp áo len của các bạn nam auto đẹp & bền</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/2.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_2">
                                    <p>Bật mí 3 cách mặc áo sơ mi họa tiết cực ngầu mà không bị “sến”</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/3.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_3">
                                    <p>3 KIỂU BIẾN TẤU ĐỘC ĐÁO VỚI SƠ MI CỘC TAY CỔ TÀU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="cooptatione">
                        <div class="cooptatione-news">
                            <div class="picture-coop">
                                <img src="/images/home/1.jpg" alt="">
                            </div>
                            <div class="text-coop">
                                <a href="/web/tuyen_dung_1">
                                    <p>TUYỂN DỤNG CHUYỀN TRƯỞNG, THỢ MAY</p>
                                </a>
                                <p>CÔNG TY CỔ PHẦN THỜI TRANG 360 liên tục tuyển dụng các vị trí sau: THỢ MAY: 10 NGƯỜI;
                                    2 THỢ VẮT...</p>
                            </div>

                        </div>
                        <div class="cooptatione-news"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
