
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12" id="back">
                    <a href="/web">Trang Chủ / </a>
                    <p>Thương Hiệu Về Thời Trang YG</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="list-new" style="border: 2px solid black;">
                        <div>
                            <p style="width:280px; font-size:25px; border-bottom: 2px solid black;text-align:center;">
                                BÀI VIẾT MỚI NHẤT</p>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/1.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_1">
                                    <p>Những tips giúp áo len của các bạn nam auto đẹp & bền</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/2.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_2">
                                    <p>Bật mí 3 cách mặc áo sơ mi họa tiết cực ngầu mà không bị “sến”</p>
                                </a>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="picture">
                                <img src="/images/news/3.jpg" alt="">
                            </div>
                            <div class="text-news">
                                <a href="/web/tin_tuc_3">
                                    <p>3 KIỂU BIẾN TẤU ĐỘC ĐÁO VỚI SƠ MI CỘC TAY CỔ TÀU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="cooptatione-1">
                        <h2>TUYỂN DỤNG CHUYỀN TRƯỞNG, THỢ MAY</h2>
                        <p>CÔNG TY CỔ PHẦN THỜI TRANG 360 liên tục tuyển dụng các vị trí sau:</p>
                        <p>THỢ MAY: 10 NGƯỜI; 2 THỢ VẮT SỔ</p>
                        <p>
                            – Yêu cầu: <br>

                            + Biết may các công đoạn, CÓ ĐÀO TẠO NGHỀ. <br>

                            + Có thể tăng ca khi cần thiết<br>
                            – Thu nhập: 5 – 8 triệu (Làm việc từ 8h-17h30, trưa nghỉ 1 tiếng).<br>
                            – Chủ nhật nghỉ, lễ tết nghỉ có thưởng, lương tháng 13.<br>
                        </p>
                        <p>CHUYỀN TRƯỞNG: 2 NGƯỜI</p>
                        <p>
                            – Yêu cầu: <br>

                            + Biết sắp xếp các công đoạn trong quy trình may, bố trí nhân lực phù hợp <br>

                            + Ưu tiên người đã có kinh nghiệm làm tại các công ty lớn<br>

                            – Thu nhập: 8 – 10 triệu (Làm việc từ 8h – 17h30, trưa nghỉ 1 tiếng) <br>

                            – Chủ nhật nghỉ, lễ tết nghỉ có thưởng, lương tháng 13. <br>

                            Làm việc: UIT <br>

                            Liên hệ: 000000
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
