<div class="row">
    <div class="col-2">
            <div class="card mb-3">
            <h5 class="card-header">Danh sách bảng</h5>
            <div class="list-group">
                <a name="" id="" class="btn btn-secondary mb-2 mt-2" href="/admin/loai_sp" role="button">Loại Sản phẩm</a>
                <a name="" id="" class="btn btn-secondary mb-2" href="/admin/san_pham" role="button">Sản phẩm</a>
                <a name="" id="" class="btn btn-secondary mb-2" href="/admin/hoa_don" role="button">Hóa đơn</a>
                <a name="" id="" class="btn btn-secondary mb-2" href="/admin/khach_hang" role="button">Khách hàng</a>
                <a name="" id="" class="btn btn-secondary mb-2" href="/admin/cthd" role="button">Chi tiết hóa đơn</a>
                <a name="" id="" class="btn btn-secondary mb-2" href="/admin/doanh_thu/sp_daban" role="button">Xem danh sách sản phẩm đã bán</a>  
                 <a name="" id="" class="btn btn-primary mb-2" href="/admin/doanh_thu/kh_tongtien" role="button">Xem danh sách khách hàng đã mua hàng</a>     
            </div>
         </div>
    </div>

    <div class="col-10 mb-3">
{{#if this.empty1}}
    <div class="card">
        <div class="card-header d-flex justify-content-between ">
            <h1>Danh sách khách hàng và tổng tiền đã mua tại cửa hàng</h1>
        </div>
        <div class="card-body">
            <p>Khong co du lieu</p>
        </div>
    </div>
{{else}}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h1>Danh sách khách hàng và tổng tiền đã mua tại cửa hàng</h1>
    </div>
    <div class="card-body">
       <table class="table table-hover">
           <thead>
               <tr>
                    <th scope="col">ID khách hàng</th>
                  <th scope="col">Tên khách hàng</th>
                  <th scope="col">Tổng tiền</th>
               </tr>
           </thead>
           <tbody>
              {{#each this.kh_list}}
              <tr>
                  <td>{{id_kh}}</td>
                  <td>{{ten_kh}}</td>
                  <td>{{tongtien}}</td>
              </tr>
              {{/each}}
           </tbody>
       </table>
    </div>
</div>
    
{{/if}}

    </div>
</div>






